[submodule "Avi"]
	path = Avi
	url = https://github.com/cppietime/CppAviLib.git
[submodule "BitUtil"]
	path = BitUtil
	url = https://github.com/cppietime/CppBitUtilLib.git
[submodule "Jpeg"]
	path = Jpeg
	url = https://github.com/cppietime/CppJpegLib.git
[submodule "Flac"]
	path = Flac
	url = https://github.com/cppietime/CppFlacLib.git
